# open my gene data

In [1]:
import pickle

with open("intersection_list", "rb") as fp:   # Unpickling
    intersection_list = pickle.load(fp)

In [2]:
print(intersection_list)
print(len(intersection_list))

['HTRA1', 'COL1A2', 'AQP1', 'THY1', 'MXRA5', 'CRLF1', 'MT1H', 'SLPI', 'ASPN', 'TGFBI', 'TPPP3', 'BEX2', 'COL5A1']
13

In [3]:
f = open("prioritization_targets_top5percent.txt", "r")
target_gene = f.read()
target_gene = target_gene.split("\n")
target_gene.remove('')
print(target_gene)
print(len(target_gene))

['PDE5A', 'PDE4D', 'PPARG', 'SCN5A', 'ESR1', 'TBXA2R', 'PTGER2', 'ROCK1', 'GABRG3', 'NR3C1', 'PRKACA', 'Stap-coc pbp2', 'PRKCA', 'F10', 'DRD2', 'GRIN1', 'GRIN2A', 'GRIN2B', 'ADORA3', 'DRD2', 'CHRM5', 'NR3C1', 'CACNA1G', 'PDF', 'LIPE', 'Bact mrcA', 'PTGS2', 'GABBR1', 'GABBR2', 'MTNR1A', 'NQO2', 'HRH1', 'HSV UL30', 'CYP19A1', 'SLC19A1', 'SLC46A1', 'NR3C1', 'PTGS1', 'SLC6A2', 'ABCC8', 'ABCC9']
41

In [4]:
len(set(target_gene))

38

In [5]:
set_gene_full = list(set(intersection_list+target_gene))
len(set_gene_full)

51

In [6]:
for name in intersection_list:
    if name in target_gene:
        print(name)

# open PPI full string DB

In [7]:
import pandas as pd

path = r'C:\Users\luigi\jupyterWorks\progetto network francesco-mariaclaudia\protein protein interaction stringDB'

protein_info_file = '\9606.protein.info.v11.5.txt'
# protein_links_file = '\9606.protein.links.v11.5.txt'
protein_links_file = '\9606.protein.links.detailed.v11.5.txt'

In [8]:
pif = pd.read_csv(path+protein_info_file, sep="\t")
print('pif columns :',pif.columns)
print('rows number :',len(pif))
pif.head()

pif columns : Index(['#string_protein_id', 'preferred_name', 'protein_size', 'annotation'], dtype='object')
rows number : 19566

,#string_protein_id,preferred_name,protein_size,annotation
0,9606.ENSP00000000233,ARF5,180,ADP-ribosylation factor 5; GTP-binding protein...
1,9606.ENSP00000000412,M6PR,277,Cation-dependent mannose-6-phosphate receptor;...
2,9606.ENSP00000001008,FKBP4,459,Peptidyl-prolyl cis-trans isomerase FKBP4; Imm...
3,9606.ENSP00000001146,CYP26B1,512,Cytochrome P450 26B1; Involved in the metaboli...
4,9606.ENSP00000002125,NDUFAF7,441,"Protein arginine methyltransferase NDUFAF7, mi..."

In [9]:
names_full_proteins = list(pif['preferred_name'])

In [10]:
k = 0
for name in set_gene_full:
    if name not in names_full_proteins:
        print(name,'absent')
        k+=1
print('\nNumber of absent proteins:',k)

HSV UL30 absent
Stap-coc pbp2 absent
Bact mrcA absent

Number of absent proteins: 3

In [11]:
plf = pd.read_csv(path+protein_links_file, sep=" ")
print('plf columns :',plf.columns)
print('rows number :',len(plf))

plf.head()

plf columns : Index(['protein1', 'protein2', 'neighborhood', 'fusion', 'cooccurence',
       'coexpression', 'experimental', 'database', 'textmining',
       'combined_score'],
      dtype='object')
rows number : 11938498

,protein1,protein2,neighborhood,fusion,cooccurence,coexpression,experimental,database,textmining,combined_score
0,9606.ENSP00000000233,9606.ENSP00000379496,0,0,0,54,0,0,144,155
1,9606.ENSP00000000233,9606.ENSP00000314067,0,0,0,0,180,0,61,197
2,9606.ENSP00000000233,9606.ENSP00000263116,0,0,0,62,152,0,101,222
3,9606.ENSP00000000233,9606.ENSP00000361263,0,0,0,0,161,0,64,181
4,9606.ENSP00000000233,9606.ENSP00000409666,0,0,0,82,213,0,72,270

In [12]:
plf = plf[['protein1', 'protein2', 'neighborhood', 'fusion', 'cooccurence',
       'coexpression', 'experimental', 'database', 'combined_score']]

# open dataset drugs - genes target

In [13]:
import pandas as pd

file_name = 'gene2drug_OA_UPandDN-corretto-TTD.xlsx'
df_drugs_gene = pd.read_excel(file_name)
df_drugs_gene = df_drugs_gene[['Drug','Targets']]
df_drugs_gene = df_drugs_gene.dropna()
print('df_drugs_gene columns :',df_drugs_gene.columns)
print('rows number :',len(df_drugs_gene))
df_drugs_gene.head()

df_drugs_gene columns : Index(['Drug', 'Targets'], dtype='object')
rows number : 566

           Drug         Targets
4    papaverine    PDE5A, PDE4D
5  pioglitazone           PPARG
7   mephenytoin           SCN5A
8   fulvestrant            ESR1
9   alprostadil  TBXA2R, PTGER2

In [14]:
len(df_drugs_gene['Drug'].unique())

566

In [15]:
df_drugs_gene[df_drugs_gene['Drug'] == 'papaverine'].values[0][1].split(', ')

['PDE5A', 'PDE4D']

In [16]:
df_drugs_gene[df_drugs_gene['Drug'] == 'pioglitazone'].values[0][1].split(', ')

['PPARG']

In [17]:
dfpd = []
max_importance = 100
for index in df_drugs_gene.index:
    if index > max_importance:
        break
    drug = df_drugs_gene[df_drugs_gene.index == index].values[0][0]
    targets = df_drugs_gene[df_drugs_gene.index == index].values[0][1].split(', ')
    for target in targets:
        dfpd.append([drug,target,1])

In [18]:
dfpd

[['papaverine', 'PDE5A', 1],
 ['papaverine', 'PDE4D', 1],
 ['pioglitazone', 'PPARG', 1],
 ['mephenytoin', 'SCN5A', 1],
 ['fulvestrant', 'ESR1', 1],
 ['alprostadil', 'TBXA2R', 1],
 ['alprostadil', 'PTGER2', 1],
 ['fasudil', 'ROCK1', 1],
 ['etomidate', 'GABRG3', 1],
 ['prednisone', 'NR3C1', 1],
 ['H-89', 'PRKACA', 1],
 ['rolitetracycline', 'Stap-coc pbp2', 1],
 ['sodium_phenylbutyrate', 'PRKCA', 1],
 ['octopamine', 'F10', 1],
 ['eticlopride', 'DRD2', 1],
 ['dizocilpine', 'GRIN1', 1],
 ['dizocilpine', 'GRIN2A', 1],
 ['dizocilpine', 'GRIN2B', 1],
 ['dizocilpine', 'ADORA3', 1],
 ['methyldopa', 'DRD2', 1],
 ['tridihexethyl', 'CHRM5', 1],
 ['hydrocortisone', 'NR3C1', 1],
 ['verapamil', 'CACNA1G', 1],
 ['proguanil', 'PDF', 1],
 ['oxybenzone', 'LIPE', 1],
 ['aztreonam', 'Bact mrcA', 1],
 ['tiaprofenic_acid', 'PTGS2', 1],
 ['gabapentin', 'GABBR1; GABBR2', 1],
 ['melatonin', 'MTNR1A', 1],
 ['melatonin', 'NQO2', 1],
 ['triprolidine', 'HRH1', 1],
 ['betulinic_acid', 'HSV UL30', 1],
 ['letrozole', 'CYP19A1', 1],
 ['folic_acid', 'SLC19A1', 1],
 ['folic_acid', 'SLC46A1', 1],
 ['mometasone', 'NR3C1', 1],
 ['suprofen', 'PTGS1', 1],
 ['maprotiline', 'SLC6A2', 1],
 ['glimepiride', 'ABCC8', 1],
 ['glimepiride', 'ABCC9', 1],
 ['zidovudine', 'FLT3', 1],
 ['zidovudine', 'HIV RT', 1],
 ['diethylstilbestrol', 'ESR1', 1],
 ['azathioprine', 'PPAT', 1],
 ['ozagrel', 'MAPK14', 1],
 ['imatinib', 'KIT', 1],
 ['imatinib', 'MCL1', 1],
 ['imatinib', 'BCR-ABL1', 1],
 ['HC_toxin', 'HDAC1', 1],
 ['trimethoprim', 'DHFR', 1],
 ['aconitine', 'SCN5A', 1],
 ['aconitine', 'SCN2A', 1],
 ['lidocaine', 'SCN11A', 1],
 ['sulpiride', 'DRD2', 1],
 ['pergolide', 'DRD2', 1],
 ['pergolide', 'DRD1', 1],
 ['kanamycin', 'Stap-coc pbp2', 1],
 ['pindolol', 'ADRB1', 1],
 ['zaprinast', 'PDE5A', 1],
 ['zaprinast', 'PDE4D', 1]]

In [19]:
dfpd = pd.DataFrame(dfpd, columns = ['drug', 'target','score'])

In [40]:
print('len',len(dfpd))
dfpd.head()

len 60

           drug target  score
0    papaverine  PDE5A      1
1    papaverine  PDE4D      1
2  pioglitazone  PPARG      1
3   mephenytoin  SCN5A      1
4   fulvestrant   ESR1      1

# extract my gene names encoded

In [20]:
set_gene_full_encode = []
for name in set_gene_full:
    if name in names_full_proteins:
        set_gene_full_encode.append(name)

print(len(set_gene_full_encode))

48

In [21]:
dictUnion_gene2id = {}
for name in set_gene_full_encode:
    dictUnion_gene2id[name] = pif[pif['preferred_name'] == name]['#string_protein_id'].values[0]

In [22]:
dictUnion_gene2id

{'ADORA3': '9606.ENSP00000358730',
 'ABCC9': '9606.ENSP00000261200',
 'AQP1': '9606.ENSP00000311165',
 'THY1': '9606.ENSP00000284240',
 'GRIN2A': '9606.ENSP00000379818',
 'MTNR1A': '9606.ENSP00000302811',
 'HRH1': '9606.ENSP00000380247',
 'SLC6A2': '9606.ENSP00000219833',
 'F10': '9606.ENSP00000364709',
 'GRIN1': '9606.ENSP00000360608',
 'PPARG': '9606.ENSP00000287820',
 'DRD2': '9606.ENSP00000354859',
 'PDE5A': '9606.ENSP00000347046',
 'ROCK1': '9606.ENSP00000382697',
 'HTRA1': '9606.ENSP00000357980',
 'CRLF1': '9606.ENSP00000376188',
 'GABBR1': '9606.ENSP00000366233',
 'GRIN2B': '9606.ENSP00000477455',
 'ESR1': '9606.ENSP00000405330',
 'PRKCA': '9606.ENSP00000408695',
 'ABCC8': '9606.ENSP00000303960',
 'MT1H': '9606.ENSP00000330587',
 'TBXA2R': '9606.ENSP00000393333',
 'SCN5A': '9606.ENSP00000410257',
 'PRKACA': '9606.ENSP00000309591',
 'NR3C1': '9606.ENSP00000231509',
 'CHRM5': '9606.ENSP00000372750',
 'PDE4D': '9606.ENSP00000345502',
 'SLPI': '9606.ENSP00000342082',
 'PTGS2': '9606.ENSP00000356438',
 'COL5A1': '9606.ENSP00000360882',
 'MXRA5': '9606.ENSP00000217939',
 'SLC46A1': '9606.ENSP00000480703',
 'ASPN': '9606.ENSP00000364694',
 'COL1A2': '9606.ENSP00000297268',
 'PTGER2': '9606.ENSP00000245457',
 'GABBR2': '9606.ENSP00000259455',
 'SLC19A1': '9606.ENSP00000308895',
 'PDF': '9606.ENSP00000288022',
 'TPPP3': '9606.ENSP00000462435',
 'CYP19A1': '9606.ENSP00000379683',
 'CACNA1G': '9606.ENSP00000352011',
 'BEX2': '9606.ENSP00000442521',
 'TGFBI': '9606.ENSP00000416330',
 'GABRG3': '9606.ENSP00000479113',
 'PTGS1': '9606.ENSP00000354612',
 'NQO2': '9606.ENSP00000369822',
 'LIPE': '9606.ENSP00000244289'}

In [23]:
dictUnion_id2gene = {}
for k,v in dictUnion_gene2id.items():
    dictUnion_id2gene[v]=k

In [24]:
union_ids = list(dictUnion_gene2id.values())

In [25]:
bool_p1 = list(map(lambda x: (x in union_ids) , plf['protein1']))
plf_cropped = plf[bool_p1]

In [26]:
bool_p2 = list(map(lambda x: (x in union_ids) , plf_cropped['protein2']))
plf_cropped = plf_cropped[bool_p2]

In [27]:
print('len:',len(plf_cropped))
plf_cropped.head()

len: 552

,protein1,protein2,neighborhood,fusion,cooccurence,coexpression,experimental,database,combined_score
350134,9606.ENSP00000217939,9606.ENSP00000364694,0,0,0,161,0,0,224
350165,9606.ENSP00000217939,9606.ENSP00000416330,0,0,0,157,0,0,178
350475,9606.ENSP00000217939,9606.ENSP00000284240,0,0,0,177,0,0,220
350529,9606.ENSP00000217939,9606.ENSP00000297268,0,0,0,533,76,0,673
350749,9606.ENSP00000217939,9606.ENSP00000357980,0,0,0,152,0,0,164

In [28]:
plf_cropped_names = {'protein1':[],'protein2':[],'neighborhood':[], 'fusion':[], 'cooccurence':[], 'coexpression':[], 'experimental':[], 'database':[], 'combined_score':[]}
for k in plf_cropped.index:
    p1,p2,w1,w2,w3,w4,w5,w6,w7 = list(plf_cropped[plf_cropped.index == k].values[0])
    plf_cropped_names['protein1'] += list([dictUnion_id2gene[p1]])
    plf_cropped_names['protein2'] += list([dictUnion_id2gene[p2]])
    plf_cropped_names['neighborhood'].append(w1)
    plf_cropped_names['fusion'].append(w2)
    plf_cropped_names['cooccurence'].append(w3)
    plf_cropped_names['coexpression'].append(w4)
    plf_cropped_names['experimental'].append(w5)
    plf_cropped_names['database'].append(w6)
    plf_cropped_names['combined_score'].append(w7)

df_names = pd.DataFrame(data=plf_cropped_names)
df_names.head()

,protein1,protein2,neighborhood,fusion,cooccurence,coexpression,experimental,database,combined_score
0,MXRA5,ASPN,0,0,0,161,0,0,224
1,MXRA5,TGFBI,0,0,0,157,0,0,178
2,MXRA5,THY1,0,0,0,177,0,0,220
3,MXRA5,COL1A2,0,0,0,533,76,0,673
4,MXRA5,HTRA1,0,0,0,152,0,0,164

In [29]:
score_list = ['neighborhood', 'fusion', 'cooccurence', 'coexpression', 'experimental', 'database', 'combined_score']
for s in score_list:
    print(s)
    print(df_names[s].value_counts(bins=5,sort=False))
    print()

neighborhood
(-0.002, -0.0006]       0
(-0.0006, -0.0002]      0
(-0.0002, 0.0002]     552
(0.0002, 0.0006]        0
(0.0006, 0.001]         0
Name: neighborhood, dtype: int64

fusion
(-0.003, 0.4]    550
(0.4, 0.8]         0
(0.8, 1.2]         0
(1.2, 1.6]         0
(1.6, 2.0]         2
Name: fusion, dtype: int64

cooccurence
(-0.104, 20.6]    546
(20.6, 41.2]        0
(41.2, 61.8]        4
(61.8, 82.4]        0
(82.4, 103.0]       2
Name: cooccurence, dtype: int64

coexpression
(-0.725, 144.8]    480
(144.8, 289.6]      62
(289.6, 434.4]       4
(434.4, 579.2]       4
(579.2, 724.0]       2
Name: coexpression, dtype: int64

experimental
(-0.999, 199.6]    514
(199.6, 399.2]      20
(399.2, 598.8]       6
(598.8, 798.4]       2
(798.4, 998.0]      10
Name: experimental, dtype: int64

database
(-0.901, 180.0]    508
(180.0, 360.0]       0
(360.0, 540.0]       6
(540.0, 720.0]      10
(720.0, 900.0]      28
Name: database, dtype: int64

combined_score
(149.15, 319.8]    356
(319.8, 489.6]      80
(489.6, 659.4]      50
(659.4, 829.2]      28
(829.2, 999.0]      38
Name: combined_score, dtype: int64

# extract union list graph from string

In [31]:
#'neighborhood', 'fusion', 'cooccurence', 'coexpression', 'experimental', 'database', 'combined_score'
score_name = 'coexpression'
treshold = 150
df_names_score = df_names[['protein1', 'protein2', score_name]]
df_names_score = df_names_score[df_names_score[score_name]>treshold]
print('numer rows',len(df_names_score))
df_names_score.head()

numer rows 62

  protein1 protein2  coexpression
0    MXRA5     ASPN           161
1    MXRA5    TGFBI           157
2    MXRA5     THY1           177
3    MXRA5   COL1A2           533
4    MXRA5    HTRA1           152

In [32]:
len(
    set(
        list(
            df_names_score['protein1'].unique()
            ) +
        list(
            df_names_score['protein2'].unique()
            )
        )
    )

19

In [39]:
import numpy as np
percent = np.round((len(plf[plf[score_name]>treshold])*100)/len(plf[score_name]),2)
print('Treshold',score_name,'>',treshold,'rapresent the',percent,'% of the ppi full dataset:')
print(len(plf[plf[score_name]>treshold]),'/',len(plf[score_name]))

Treshold coexpression > 150 rapresent the 12.0 % of the ppi full dataset:
1432232 / 11938498

In [67]:
curr_protein_list = set(
    list(
        df_names_score['protein1'].unique()
        ) +
    list(
        df_names_score['protein2'].unique()
        )
    )

In [68]:
dfpd2 = dfpd[dfpd['target'].isin(curr_protein_list)]

In [69]:
dfpd2_new = dfpd2.copy()
dfpd2_new.columns = ['protein1', 'protein2', score_name]
dfpd2_new.columns

Index(['protein1', 'protein2', 'coexpression'], dtype='object')

In [70]:
frames = [df_names_score, dfpd2_new]

result = pd.concat(frames)

# plotting graph

In [71]:
import networkx as nx
import numpy as np

G=nx.Graph(name='Protein Interaction Graph')
interactions = np.array(result)
for a,b,w in interactions:
    w = float(w) # score as weighted edge where high scores = low weight
    G.add_weighted_edges_from([(a,b,w)]) # add weighted edge to graph

In [72]:
target_gene_encoded = [k for k,v in dictUnion_gene2id.items() if k in target_gene and k in G.nodes]

labels= {}
for node in G.nodes():
    labels[node]=node

In [73]:
from matplotlib import pylab
import matplotlib.pyplot as plt
import networkx as nx

edgelist = [cuple for cuple in G.edges() if cuple[0] in dfpd2['drug'].unique() or cuple[1] in dfpd2['drug'].unique()]
#green: target
#blue: diff. exp.
def save_graph(graph, file_name):
    #initialze Figure
    plt.figure(num=None, figsize=(15, 15), dpi=220)
    plt.axis('off')
    fig = plt.figure(1)
    pos = nx.spring_layout(graph)
    nx.draw_networkx_nodes(graph,pos,labels,node_size=50)
    
    nx.draw_networkx_nodes(graph,pos,nodelist=dfpd2['drug'].unique(),node_shape='s',node_color='y', node_size=50)
    
    nx.draw_networkx_nodes(graph, pos, nodelist=target_gene_encoded, node_color='g', node_size=50)
    
    nx.draw_networkx_labels(graph,pos,labels,font_size=5,font_color='r')

    nx.draw_networkx_edges(graph,pos)
    
    nx.draw_networkx_edges(graph,pos,edge_color='y', edgelist = edgelist, arrowsize = 1)

    plt.savefig(file_name,bbox_inches="tight")
    pylab.close()
    del fig


name = "graphs_pdf\graph_gde_and_target_color_"+score_name+'_'+str(treshold)+'withDrugs'+'_importance'+str(max_importance)+".pdf"
save_graph(G, name)

#it can also be saved in .svg, .png. or .ps formats